<section class="login py-5 border-top-1">
        <div class="container">
            <div class="row justify-content-center pt-5">
                <div class="col-lg-5 col-md-8 align-item-center">
                    <div class="border border">
                        <h3 class="bg-gray p-4">Register Now</h3>
                        <form action="admin-signup" method="post">
                        {{#if signupErr}}
                                <p class="error">{{signupErr}}</p>
                        {{/if}}
                            <fieldset class="p-4">

                                <label for="email">Email</label>
                                <input type="email" placeholder="Email*" name="Email"  class="border p-3 w-100 my-2">

                                <label for="email">Password</label>
                                <input type="password" placeholder="Password*" name="Password" id="Password" class="border p-3 w-100 my-2">

                                
                             
                                <button type="submit" class="d-block py-3 px-4 bg-primary text-white border-0 rounded font-weight-bold">Register Now</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>