<html lang="en">

<head>
  <title>Sidebar 02</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/cssside/styleside.css" />
</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
      </div>
      <div class="p-4 pt-5 py-auto">
        <h1><a href="indexside.html" class="logo">Let's Go</a></h1>
        <ul class="list-unstyled components mb-5">
          <li>
            <a href="/admin/dashboard">Dashboard</a>
          </li>

          <li>
            <a href="/admin/view-user">User Management</a>
          </li>
          <li>

            <a href="/admin/admin-login">Package Management</a>
          </li>
          <li>

            <a href="/admin/expired-packages">Expired Packages</a>
          </li>
           <li>

            <a href="/admin/view-banners">Banner Management</a>
          </li>
          <li>
            <a href="/admin/view-category">Category Management</a>
          </li>
          <li>
            <a href="/admin/view-booking">Booking Management</a>
          </li>
          <li>
            <a href="/admin/packageOffer-view">Offer Management</a>
          </li>
          <li>
            <a href="/admin/coupons-view">Coupon Management</a>
          </li>
          <li>
            <a href="/admin/salesReport">Sales Report</a>
          </li>

          {{!-- <button class="dropdown-btn">Dropdown --}}
            {{!-- <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a href="#">Link 1</a><br>
            <a href="#">Link 2</a><br>
            <a href="#">Link 3</a><br>
          </div> --}}
          <li>
            <a href="./logout">logout</a>
          </li>


        </ul>

      </div>
    </nav>