<section class=" hero-area orderSucess-cls ">
    <div class="ml-5" style="text-align:center center;">
        <h2>Order placed successfully</h2>
        <a class="btn btn primary ml-5" href="/user-bookings">View Orders</a>
        {{!-- <img src="../images/ordersucess/travel-concept-with-baggage.jpg" style="width:100%" alt=""> --}}
    </div>

</section>