<section class=" hero-area orderfailure-cls mr-5 ">
    <div>
        <h3 style="text-align:center;color:red;margin-top:22rem;margin-left: 3rem;">Payment Failed!</h3>
        {{!-- <img src="../images/ordersucess/travel-concept-with-baggage.jpg" style="width:100%" alt=""> --}}
    </div>

</section>